@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900&subset=latin-ext');
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Work Sans', sans-serif;
  width: 100%;
  height: 100vh;
  background-color: #4a4a4a;
  overflow-y: scroll;
}
body * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body a {
  color: #fff;
}
body a:hover,
body a:visited,
body a:active {
  color: #fff;
}
body label {
  font-weight: normal;
  margin: 0;
}
body .form-control:focus {
  border-color: #00FF00;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(0,255,0,0.6);
}
body .disabled,
body input[disabled="disabled"] {
  cursor: not-allowed;
  opacity: .5;
}
body .ui-state-highlight {
  height: 1.5em;
  line-height: 1.2em;
  margin-bottom: 1em;
  background-color: #ccc;
  border-color: #b3b3b3;
  border-radius: 5px;
}
body #editor {
  background-color: #4a4a4a;
  display: table;
  height: 100vh;
  width: 100%;
}
body #editor #top {
  background-color: #525252;
  display: table-row;
  height: 1px;
}
body #editor #top > * {
  flex-basis: auto;
}
body #editor #top #map_name {
  padding: 1em;
  padding-left: 4em;
  position: relative;
}
body #editor #top #map_name input {
  border: none;
  background: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
}
body #editor #top #map_name #name_line {
  border-top: 2px solid #4a4a4a;
  width: 100%;
  margin-top: -8px;
}
body #editor #top #map_functions {
  padding-top: .5em;
}
body #editor #top #map_functions ul {
  padding: 0;
  margin: 0;
  text-align: right;
  list-style-type: none;
}
body #editor #top #map_functions ul li {
  display: inline-block;
}
body #editor #top #map_functions ul li a {
  display: block;
  padding: 1em;
}
body #editor #top #map_functions ul li a:hover {
  background-color: #4a4a4a;
  text-decoration: none;
}
body #editor #top #logo {
  background-color: #4a4a4a;
  text-align: center;
  padding: .5em 0;
}
body #editor #toolbar {
  display: table-row;
  height: 1px;
}
body #editor #toolbar #properties {
  width: 75%;
  height: 100%;
  display: block;
  float: left;
  padding-left: 6em;
  color: #fff;
  padding-top: 1em;
  font-size: .8em;
}
body #editor #toolbar #properties * {
  vertical-align: middle;
}
body #editor #toolbar #properties button {
  border: none;
  background: none;
  padding: 0;
  text-shadow: none;
  box-shadow: none;
}
body #editor #toolbar #properties button .pattern {
  margin: 0;
}
body #editor #toolbar #properties input {
  color: #333333;
  width: 3em;
  text-align: center;
  margin-left: .5em;
  padding: 0;
  height: 18px;
  vertical-align: middle;
  display: inline-block;
  font-size: 11px;
}
body #editor #toolbar #properties div {
  display: inline-block;
}
body #editor #toolbar #properties .line_type,
body #editor #toolbar #properties .pattern {
  width: 32px;
  height: 18px;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
body #editor #toolbar #properties .line_type:hover,
body #editor #toolbar #properties .line_type.active,
body #editor #toolbar #properties .pattern:hover,
body #editor #toolbar #properties .pattern.active {
  background-color: #333333;
}
body #editor #toolbar #properties button {
  margin-left: .5em;
  margin-right: 1em;
}
body #editor #toolbar #properties .pattern {
  background-size: cover;
  border: 1px solid #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px #000000;
  margin-left: .5em;
  margin-right: 1em;
  cursor: pointer;
}
body #editor #toolbar #properties #line_stroke {
  background-image: url("../img/icons/lines_stroke.png");
}
body #editor #toolbar #properties #line_dotted {
  background-image: url("../img/icons/lines_dot.png");
  margin-right: 3em;
}
body #editor #toolbar #properties .toggle_shadow {
  position: relative;
  border: 1px solid #fff;
  background-color: #333333;
  cursor: pointer;
}
body #editor #toolbar #properties .toggle_shadow span {
  padding: .23em .5em;
  display: inline-block;
  text-align: center;
}
body #editor #toolbar #properties .toggle_shadow .shadow_text {
  padding: .25em 1em;
}
body #editor #toolbar #properties .toggle_shadow .shadow_on {
  color: #333333;
  background-color: #fff;
  width: 3em;
  border-left: 1px solid #fff;
}
body #editor #toolbar #properties .toggle_shadow .shadow_off {
  width: 3em;
  border-left: 1px solid #fff;
}
body #editor #toolbar #zoom {
  padding: 0;
  width: 25%;
  display: table;
  float: right;
  padding-left: .5em;
  padding-top: .5em;
  padding-bottom: .25em;
  padding-right: 1em;
}
body #editor #toolbar #zoom #cat_collapse {
  height: 32px;
  width: 32px;
  background-image: url("../img/icons/trennlinie.png");
  transform: rotate(90deg);
  background-size: contain;
  display: table-cell;
}
body #editor #toolbar #zoom #cat_collapse:hover {
  background-image: url("../img/icons/trennlinie_act.png");
  background-color: #333333;
}
body #editor #toolbar #zoom #input_wrapper {
  display: table-cell;
  vertical-align: middle;
  padding-left: 1em;
}
body #editor #toolbar #zoom input::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px;
}
body #editor #toolbar #zoom input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  background: #ffffff;
  cursor: pointer;
}
body #editor #toolbar #zoom input[type=range]::-ms-thumb {
  background: #ffffff;
  cursor: pointer;
}
body #editor #toolbar #zoom input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  background: #333333;
}
body #editor #toolbar #zoom input[type=range]::-moz-range-track {
  width: 100%;
  cursor: pointer;
  background: #333333;
}
body #editor #toolbar #zoom input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
body #editor #toolbar #zoom input[type=range]::-ms-fill-lower {
  background: #333333;
}
body #editor #toolbar #zoom input[type=range]::-ms-fill-upper {
  background: #333333;
}
body #editor #main {
  display: table;
  width: 100%;
  height: 100%;
}
body #editor #main #main_tools {
  padding: 0 .5em;
  display: table-cell;
  vertical-align: top;
}
body #editor #main #main_tools .tool_icon {
  padding: .5em;
  height: 32px;
  width: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: .5em;
}
body #editor #main #main_tools .tool_icon:hover {
  background-color: #333333;
}
body #editor #main #main_tools .tool_icon.disabled {
  opacity: .5;
}
body #editor #main #main_tools .tool_icon.disabled:hover {
  background-color: #4a4a4a;
}
body #editor #main #main_tools #tool_selector {
  background-image: url("../img/icons/select.png");
}
body #editor #main #main_tools #tool_selector.active {
  background-image: url("../img/icons/select_act.png");
  background-color: #333333;
}
body #editor #main #main_tools #tool_draw_line {
  background-image: url("../img/icons/draw.png");
}
body #editor #main #main_tools #tool_draw_line.active {
  background-image: url("../img/icons/draw_act.png");
  background-color: #333333;
}
body #editor #main #main_tools #tool_draw_square {
  background-image: url("../img/icons/rect.png");
}
body #editor #main #main_tools #tool_draw_square.active {
  background-image: url("../img/icons/rect_act.png");
  background-color: #333333;
}
body #editor #main #main_tools #tool_draw_circle {
  background-image: url("../img/icons/circle.png");
}
body #editor #main #main_tools #tool_draw_circle.active {
  background-image: url("../img/icons/circle_act.png");
  background-color: #333333;
}
body #editor #main #main_tools #tool_draw_floor {
  background-image: url("../img/icons/draw_floor.png");
}
body #editor #main #main_tools #tool_draw_floor.active {
  background-image: url("../img/icons/draw_floor_act.png");
  background-color: #333333;
}
body #editor #main #main_tools #tool_draw_pattern {
  background-image: url("../img/icons/draw_pattern.png");
}
body #editor #main #main_tools #tool_draw_pattern.active {
  background-image: url("../img/icons/draw_pattern_act.png");
  background-color: #333333;
}
body #editor #main #main_stage {
  background-color: #fff;
  height: 100%;
  width: 100%;
  display: table-cell;
}
body #editor #main #option_cats {
  display: table-cell;
  padding: 0 .5em;
  width: auto;
  vertical-align: top;
}
body #editor #main #option_cats .option_cat {
  padding: .5em;
  height: 32px;
  width: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: .5em;
}
body #editor #main #option_cats .option_cat:hover {
  background-color: #333333;
}
body #editor #main #option_cats .option_cat.disabled {
  opacity: .5;
}
body #editor #main #option_cats .option_cat.disabled:hover {
  background-color: #4a4a4a;
}
body #editor #main #option_cats #cat_settings {
  background-image: url("../img/icons/settings.png");
}
body #editor #main #option_cats #cat_settings.active {
  background-image: url("../img/icons/settings_act.png");
  background-color: #333333;
}
body #editor #main #option_cats #cat_rooms {
  background-image: url("../img/icons/rooms.png");
}
body #editor #main #option_cats #cat_rooms.active {
  background-image: url("../img/icons/rooms_act.png");
  background-color: #333333;
}
body #editor #main #option_cats #cat_props {
  background-image: url("../img/icons/props.png");
}
body #editor #main #option_cats #cat_props.active {
  background-image: url("../img/icons/props_act.png");
  background-color: #333333;
}
body #editor #main #option_cats #cat_doors {
  background-image: url("../img/icons/doors.png");
}
body #editor #main #option_cats #cat_doors.active {
  background-image: url("../img/icons/doors_act.png");
  background-color: #333333;
}
body #editor #main #option_cats #cat_stairs {
  background-image: url("../img/icons/stairs.png");
}
body #editor #main #option_cats #cat_stairs.active {
  background-image: url("../img/icons/stairs_act.png");
  background-color: #333333;
}
body #editor #main #option_cats #cat_traps {
  background-image: url("../img/icons/traps.png");
}
body #editor #main #option_cats #cat_traps.active {
  background-image: url("../img/icons/traps_act.png");
  background-color: #333333;
}
body #editor #main #option_cats #cat_notes {
  background-image: url("../img/icons/notes.png");
}
body #editor #main #option_cats #cat_notes.active {
  background-image: url("../img/icons/notes_act.png");
  background-color: #333333;
}
body #editor #main #option_cats #cat_links {
  background-image: url("../img/icons/links.png");
}
body #editor #main #option_cats #cat_links.active {
  background-image: url("../img/icons/links_act.png");
  background-color: #333333;
}
body #editor #main #option_cats #cat_sounds {
  background-image: url("../img/icons/sound.png");
}
body #editor #main #option_cats #cat_sounds.active {
  background-image: url("../img/icons/sound_act.png");
  background-color: #333333;
}
body #editor #main #options {
  display: none;
  width: auto;
  vertical-align: top;
  padding: 0 1em;
}
body #editor #main #options.open {
  display: table-cell;
}
body #editor #main #options #options_inner {
  color: #fff;
  border: 2px solid #333333;
  border-radius: 5px;
  padding: .5em 1em;
  width: 300px;
}
body #editor #main #options #options_inner > div {
  display: none;
}
body #editor #main #options #options_inner > div.active {
  display: block;
}
body #editor #main #options #options_inner .options_headline {
  margin-bottom: 1em;
}
body #editor #main #options #options_inner .options_set {
  margin-bottom: .75em;
}
body #editor #main #options #options_inner .options_set > label {
  display: inline-block;
  width: 6em;
}
body #editor #main #options #options_inner .options_set > label.lg {
  width: 100%;
}
body #editor #main #options #options_inner .options_set input,
body #editor #main #options #options_inner .options_set select {
  color: #333333;
  vertical-align: middle;
  display: inline-block;
  padding: 0 .25em;
  height: 1.85em;
  width: 12.45em;
}
body #editor #main #options #options_inner .options_set select[name="unit_measure"] {
  width: 5.73em;
  margin-left: .752em;
}
body #editor #main #options #options_inner .options_set input[type="text"] {
  width: 5.73em;
  text-align: center;
}
body #editor #main #options #options_inner .options_set input[type="color"] {
  height: 1.85em;
  width: 5.73em;
  border: 1px solid #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px #000000;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
}
body #editor #main #options #options_inner .options_set input[type="checkbox"] {
  vertical-align: top;
  width: auto;
  height: auto;
}
body #editor #main #options #options_inner .options_set input.single {
  width: 12.45em;
}
body #editor #main #options #options_inner .options_set > button {
  padding: 0;
  border: none;
  background: none;
  text-shadow: none;
  box-shadow: none;
  margin-right: .752em;
}
body #editor #main #options #options_inner .options_set > button .pattern {
  height: 1.85em;
  width: 5.73em;
  background-size: cover;
  border: 1px solid #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px #000000;
  display: inline-block;
  vertical-align: middle;
}
body #editor #main #options #options_inner .options_set > button.edit_notes {
  background-color: #fff;
  background-color: #333333;
  color: #333333;
  color: #fff;
  padding: .5em 1em;
  border-radius: 5px;
  border: 2px solid #333333;
  border: 2px solid #fff;
  width: 100%;
}
body #editor #main #options #options_inner .options_set > button.edit_notes:hover {
  background-color: #575757;
}
body #editor #main #options #options_inner .options_set .input-group .input-group-btn .btn {
  padding: .15em .5em;
}
body #editor #main #options #options_inner .options_set .input-group input {
  width: 100%;
  height: 1.85em;
}
body #editor #main #options #options_inner .options_set #line_types {
  display: inline-block;
  height: 1.85em;
  width: 5.73em;
  vertical-align: middle;
  margin-left: .752em;
}
body #editor #main #options #options_inner .options_set #line_types div.line_type {
  height: 0.925em;
  width: 5.73em;
  background-repeat: no-repeat;
  background-position: center;
}
body #editor #main #options #options_inner .options_set #line_types div.line_type:hover,
body #editor #main #options #options_inner .options_set #line_types div.line_type.active {
  background-color: #333333;
}
body #editor #main #options #options_inner .options_set #line_types #line_stroke_side {
  background-image: url("../img/icons/lines_stroke.png");
}
body #editor #main #options #options_inner .options_set #line_types #line_dotted_side {
  background-image: url("../img/icons/lines_dot.png");
}
body #editor #main #options #options_inner .proplist_wrapper {
  border: 2px solid #333333;
  border-radius: 5px;
  background-color: #424242;
  padding: .5em;
  height: 15em;
  margin-bottom: .75em;
  overflow-y: scroll;
}
body #editor #main #options #options_inner .proplist_wrapper .proplist {
  margin-bottom: 1em;
}
body #editor #main #options #options_inner .proplist_wrapper .proplist .proplist_headline {
  padding-bottom: .25em;
  border-bottom: 2px solid #333333;
  margin-bottom: .25em;
  text-transform: capitalize;
}
body #editor #main #options #options_inner .proplist_wrapper .proplist .proplist_headline:hover {
  cursor: pointer;
}
body #editor #main #options #options_inner .proplist_wrapper .proplist .proplist_headline i {
  margin-left: .5em;
  font-size: .75em;
}
body #editor #main #options #options_inner .proplist_wrapper .proplist .proplist_content {
  display: none;
}
body #editor #main #options #options_inner .proplist_wrapper .proplist .proplist_content.door {
  display: block;
}
body #editor #main #options #options_inner .proplist_wrapper .proplist .proplist_content .prop {
  padding: .25em 0;
  border-bottom: 1px solid #333333;
}
body #editor #main #options #options_inner .proplist_wrapper .proplist .proplist_content .prop:last-child {
  border: none;
}
body #editor #main #options #options_inner .proplist_wrapper .proplist .proplist_content .prop .prop_inner {
  padding: .5em;
}
body #editor #main #options #options_inner .proplist_wrapper .proplist .proplist_content .prop .prop_inner * {
  vertical-align: middle;
}
body #editor #main #options #options_inner .proplist_wrapper .proplist .proplist_content .prop .prop_inner:hover,
body #editor #main #options #options_inner .proplist_wrapper .proplist .proplist_content .prop .prop_inner.active {
  background-color: rgba(0,255,0,0.2);
}
body #editor #main #options #options_inner .proplist_wrapper .proplist .proplist_content .prop .prop_inner .prop_img {
  width: 48px;
  height: 48px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin-right: 1em;
}
body #editor #main #options #options_inner .proplist_wrapper .proplist .proplist_content .prop .prop_inner .prop_title {
  text-transform: capitalize;
}
body #editor #main #options #options_inner .advanced_options_wrapper .advanced_options_label {
  border-bottom: 1px solid #333333;
  padding-bottom: .5em;
  margin-bottom: .5em;
}
body #editor #main #options #options_inner .advanced_options_wrapper .advanced_options_label:hover {
  cursor: pointer;
}
body #editor #main #options #options_inner .advanced_options_wrapper .advanced_options_label i {
  margin-left: .5em;
  font-size: .75em;
}
body #editor #main #options #options_inner .advanced_options_wrapper .advanced_options_inner {
  display: none;
}
body #editor #main #options #options_inner .advanced_options_wrapper .advanced_options_inner .options_set input.single {
  width: 12.45em;
}
body #editor #main #options #options_inner .advanced_options_wrapper .advanced_options_inner .options_set button {
  background: none;
  box-shadow: none;
  color: #333333;
  background-color: #fff;
}
body #editor #main #options #options_inner .advanced_options_wrapper .advanced_options_inner .options_set button:hover {
  background-color: #f2f2f2;
}
body #editor #main #options #options_inner .advanced_options_wrapper .advanced_options_inner .options_set .touchspin_wrapper {
  display: inline-block;
}
body #editor #main #options #options_inner .advanced_options_wrapper .advanced_options_inner .options_set .touchspin_wrapper .bootstrap-touchspin input {
  width: 100%;
}
body #editor #main #options #options_inner .advanced_options_wrapper .advanced_options_inner .options_set .touchspin_wrapper .bootstrap-touchspin .input-group-btn-vertical .btn {
  padding: .4em .6em;
}
body #editor #main #options #options_inner .advanced_options_wrapper .advanced_options_inner .options_set .touchspin_wrapper .bootstrap-touchspin .input-group-btn-vertical .btn i {
  font-size: .5em;
  top: 2px;
}
body #editor #main #options #options_inner .advanced_options_wrapper .advanced_options_inner .options_set textarea {
  resize: none;
}
body #editor #main #options #options_ok_button {
  color: #fff;
  background: none;
  background-color: #333333;
  border: none;
  padding: .25em 1em;
  line-height: 1em;
  font-size: .9em;
}
body #editor #main #options #options_ok_button:hover {
  background-color: #525252;
}
body .modal {
  color: #fff;
}
body .modal .close {
  color: #fff;
}
body .modal .modal-content {
  background-color: #4a4a4a;
  background-color: #525252;
  padding-bottom: 0;
}
body .modal .modal-content .modal-body .pattern_wrapper {
  display: inline-block;
  position: relative;
  padding: .5em;
}
body .modal .modal-content .modal-body .pattern_wrapper:hover {
  background-color: #333333;
}
body .modal .modal-content .modal-body .pattern_wrapper .lg {
  position: relative;
  width: 64px;
  height: 64px;
  background-size: cover;
  color: #fff;
}
body .modal .modal-content .modal-body .pattern_wrapper .lg .glyphicon {
  position: absolute;
  top: 0;
  right: .25em;
}
body .modal .modal-footer {
  border: none;
  padding-top: 0;
}
body .modal .modal-footer button {
  border: none;
  background: none;
  background-color: #333333;
  border-radius: 5px;
  text-shadow: none;
  box-shadow: none;
  color: #fff;
}
body .modal .modal-footer button:hover {
  background-color: #4a4a4a;
}
body #notesModal {
  color: #333333;
}
body #notesModal .close {
  color: #333333;
}
body #notesModal .modal-content {
  background-color: #fff;
  padding-bottom: 0;
}
body #notesModal .modal-content .modal-body {
  position: relative;
  max-height: 75vh;
  overflow: hidden;
  overflow-y: auto;
  margin-bottom: 1em;
}
body #notesModal .modal-content .modal-body #dm_notes {
  position: relative;
}
body #notesModal .modal-content .modal-body #dm_notes #dm_notes_mapname {
  font-size: 1.5em;
  font-weight: bold;
  color: #8c0000;
  margin-bottom: 1em;
}
body #notesModal .modal-content .modal-body #dm_notes #dm_notes_mapname .dm_notes_hr {
  height: 10px;
  background-image: url('../img/dm_notes_hr.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: .125em;
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_top {
  padding-bottom: .5em;
  border-bottom: 2px solid #cacaca;
  margin-bottom: .5em;
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_top * {
  vertical-align: middle;
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_top .dm_notes_room_nr {
  padding: .125em .5em;
  background-color: #4a4a4a;
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_top .dm_notes_room_name {
  font-size: 1.25em;
  margin-left: .5em;
  margin-right: .5em;
  font-weight: 600;
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_top i {
  font-size: 1.5em;
  vertical-align: middle;
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_top i:hover {
  cursor: pointer;
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_top .dm_notes_room_show {
  display: inline-block;
  height: 30.72px;
  width: 30.72px;
  vertical-align: middle;
  background-color: #4a4a4a;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: .5em;
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_top .dm_notes_room_show:hover {
  cursor: pointer;
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_top .dm_notes_room_show.vis {
  background-image: url('../img/icons/eye_open.png');
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_top .dm_notes_room_show.invis {
  background-image: url('../img/icons/eye_closed.png');
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_top .dm_notes_room_reveal {
  display: inline-block;
  height: 30.72px;
  width: 30.72px;
  vertical-align: middle;
  background-color: #4a4a4a;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: .5em;
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_top .dm_notes_room_reveal:hover {
  cursor: pointer;
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_top .dm_notes_room_reveal.reveal {
  background-image: url('../img/icons/reveal.png');
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_top .dm_notes_room_reveal.revealed {
  background-image: url('../img/icons/revealed.png');
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_notes {
  display: none;
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_notes * {
  position: relative;
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_notes > * {
  margin-bottom: 1em;
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_notes > *:hover {
  cursor: move;
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_notes .description_box {
  border: dashed;
  border-width: 2px;
  padding: 1em;
  border-radius: 5px;
  min-height: 64px;
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_notes .description_box .icon {
  display: inline-block;
  height: 32px;
  width: 32px;
  position: absolute;
  left: 1em;
  top: 1em;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_notes .description_box .description {
  display: inline-block;
  padding-left: 48px;
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_notes .dm_notes_room_description {
  border-color: #525252;
  background-color: rgba(74,74,74,0.1);
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_notes .dm_notes_room_description .room_icon {
  background-image: url('../img/icons/rooms_notes.png');
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_notes .dm_notes_prop_description {
  border-color: #ff8000;
  background-color: rgba(255,128,0,0.1);
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_notes .dm_notes_prop_description .prop_icon {
  background-image: url('../img/icons/props_notes.png');
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_notes .dm_notes_doors_description {
  border-color: #0060bf;
  background-color: rgba(0,96,191,0.1);
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_notes .dm_notes_doors_description .door_icon {
  background-image: url('../img/icons/doors_notes.png');
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_notes .dm_notes_traps_description {
  border-color: #df0070;
  background-color: rgba(223,0,112,0.1);
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_notes .dm_notes_traps_description .trap_icon {
  background-image: url('../img/icons/traps_notes.png');
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_notes .dm_notes_images .dm_note_image {
  margin-bottom: 1em;
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_notes .dm_notes_images .dm_note_image img {
  width: 100%;
  margin-bottom: 1em;
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_notes .dm_notes_images .dm_note_image .dm_notes_button_wrapper {
  text-align: center;
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_notes .dm_notes_images .dm_note_image .dm_notes_button_wrapper button {
  background: none;
  background-color: #4a4a4a;
  color: #fff;
  border: none;
  margin-bottom: 1em;
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_notes .dm_notes_images .dm_note_image .dm_notes_button_wrapper button:hover {
  background-color: #525252;
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_notes .dm_note_quote {
  background-color: #f5f5f5;
  padding: 1em;
  position: relative;
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_notes .dm_note_quote:before {
  content: '\201C';
  font-size: 3em;
  position: absolute;
  left: .55em;
  top: 0;
  color: #cacaca;
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_notes .dm_note_quote .dm_note_quote_inner {
  margin-left: 2.5em;
  padding-left: .8em;
  border-left: 2px solid #cacaca;
}
body #notesModal .modal-content .modal-body #dm_notes .dm_notes_room .dm_notes_room_notes .dm_notes_text {
  padding-left: 4.4em;
}
body #notesModal .modal-footer {
  border: none;
  padding-top: 0;
}
body #notesModal .modal-footer button {
  border: none;
  background: none;
  background-color: #333333;
  border-radius: 5px;
  text-shadow: none;
  box-shadow: none;
  color: #fff;
}
body #notesModal .modal-footer button:hover {
  background-color: #4a4a4a;
}
