@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900&subset=latin-ext');

@color-main: #4a4a4a;
@color-secondary: #0f0;

@icon-size: 32px;

html,
body{
	height: 100%;
	padding: 0;
	margin: 0;
}
body{
	font-family: 'Work Sans', sans-serif;
	width: 100%;
	height: 100vh;
	background-color: @color-main;
	overflow-y: scroll;
	
	*{
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		/*
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
		*/
	}
	a{
		color: #fff;
		
		&:hover,
		&:visited,
		&:active{
			color: #fff;
		}
	}
	label{
		font-weight: normal;
		margin: 0;
	}
	.form-control:focus {
		/*
		 *border-color: #FF0000;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
		*/
		border-color: #00FF00;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 255, 0, 0.6);
	}
	.disabled,
	input[disabled="disabled"]{
		cursor: not-allowed;
		opacity: .5;
	}
	
	.ui-state-highlight {
		height: 1.5em;
		line-height: 1.2em;
		margin-bottom: 1em;
		background-color: #ccc;
		border-color: darken(#ccc, 10%);
		border-radius: 5px;
	}
	
	#editor{
		background-color: @color-main;
		display: table;
		height: 100vh;
		width: 100%;
		
		#top{
			background-color: lighten(@color-main, 3%);
		    display: table-row;
			height: 1px;
			
			& > *{
				flex-basis: auto;
			}
			
			#map_name{
				padding: 1em;
				padding-left: 4em;
				position: relative;
				
				input{
					border: none;
					background: none;
					color: #fff;
					font-weight: bold;
					font-size: 1.5em;
				}
				
				#name_line{
					border-top: 2px solid @color-main;
					width: 100%;
					margin-top: -8px;
				}
			}
			#map_functions{
				padding-top: .5em;
				
				ul{
					padding: 0;
					margin:0;
					text-align: right;
					list-style-type: none;
					
					li{
						display: inline-block;
						
						a{
							display: block;
							padding: 1em;
							
							&:hover{
								background-color: @color-main;
								text-decoration: none;
							}
						}
					}
				}
			}
			#logo{
				background-color: @color-main;
				text-align: center;
				padding: .5em 0;
			}
		}
		
		#toolbar{
			display: table-row;
			height: 1px;
			
			#properties{
				width: 75%;
				height: 100%;
				display: block;
				float: left;
				padding-left: 6em;
				color: #fff;
				padding-top: 1em;
				font-size: .8em;
				
				*{
					vertical-align: middle;
				}
				
				button{
					border: none;
					background: none;
					padding: 0;
					text-shadow: none;
					box-shadow: none;
					.pattern{
						margin:0;
					}
				}
				input{
					color: darken(@color-main, 9%);
					width: 3em;
					text-align: center;
					margin-left: .5em;
					padding: 0;
					height: @icon-size*0.5625;
					vertical-align: middle;
					display: inline-block;
					font-size: 11px;
				}
				div{
					display: inline-block;
				}
				.line_type,
				.pattern{
					width: @icon-size;
					height: @icon-size*0.5625;
					vertical-align: middle;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					
					&:hover,
					&.active{
						background-color: darken(@color-main, 9%);
					}
				}
				button{
					margin-left: .5em;
					margin-right: 1em;
					
				}
				.pattern{
					background-size: cover;
					border: 1px solid #fff;
					border-radius: 2px;
					box-shadow: 0 0 2px darken(@color-main, 40%);
					margin-left: .5em;
					margin-right: 1em;
					cursor: pointer;
				}
				#line_stroke{
					background-image: url("../img/icons/lines_stroke.png");
				}
				#line_dotted{
					background-image: url("../img/icons/lines_dot.png");
					margin-right: 3em;
				}
				//#floor_pattern{
				//	background-image: url("../textures/floor/wood_01.jpg")
				//}
				//#wall_pattern{
				//	background-image: url("../textures/wall/stone_wall_01.jpg")
				//}
				.toggle_shadow{
					position: relative;
					border: 1px solid #fff;
					background-color: darken(@color-main, 9%);
					cursor: pointer;
					
					span{
						padding: .23em .5em;
						display: inline-block;
						/*
						margin-right: -0.25em;
						margin-top: -0.25em;
						margin-bottom: -0.25em;
						*/
						text-align: center;
					}
					.shadow_text{
						padding: .25em 1em;
					}
					.shadow_on{
						color: darken(@color-main, 9%);;
						background-color: #fff;
						width: 3em;
						border-left: 1px solid #fff;
					}
					.shadow_off{
						width: 3em;
						border-left: 1px solid #fff;
					}
				}
			}
			#zoom{
				padding: 0;
				width: 25%;
				display: table;
				float: right;
				padding-left: .5em;
				padding-top: .5em;
				padding-bottom: .25em;
				
				#cat_collapse{
					height: @icon-size;
					width: @icon-size;
					background-image: url("../img/icons/trennlinie.png");
					transform: rotate(90deg);
					background-size: contain;
					display: table-cell;
					
					&:hover{
						background-image: url("../img/icons/trennlinie_act.png");
						background-color: darken(@color-main, 9%);
					}
				}
				#input_wrapper{
					display: table-cell;
					vertical-align: middle;
					padding-left: 1em;
				}
				padding-right: 1em;
				/* https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */
				/* Special styling for WebKit/Blink */
				input::-webkit-slider-thumb{
				  -webkit-appearance: none;
				  border: 1px solid #000000;
				  background: #ffffff;
				  cursor: pointer;
				  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
				}
				/* All the same stuff for Firefox */
				input[type=range]::-moz-range-thumb {
				  border: 1px solid #000000;
				  background: #ffffff;
				  cursor: pointer;
				}
				/* All the same stuff for IE */
				input[type=range]::-ms-thumb {
				  background: #ffffff;
				  cursor: pointer;
				}
				input[type=range]::-webkit-slider-runnable-track {
					width: 100%;
					cursor: pointer;
					background: darken(@color-main, 9%);
				}
				
				input[type=range]::-moz-range-track {
					width: 100%;
					cursor: pointer;
					background: darken(@color-main, 9%);
				}
				
				input[type=range]::-ms-track {
					width: 100%;
					cursor: pointer;
					background: transparent;
					border-color: transparent;
					border-width: 16px 0;
					color: transparent;
				}
				input[type=range]::-ms-fill-lower {
					background: darken(@color-main, 9%);
				}
				input[type=range]::-ms-fill-upper {
					background: darken(@color-main, 9%);
				}
			}
		}
		
		#main{
			display: table;
			width: 100%;
			height: 100%;
			
			#main_tools{
				padding: 0 .5em;
				display: table-cell;
				vertical-align: top;
				
				.tool_icon{
					padding: .5em;
					height: @icon-size;
					width: @icon-size;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					margin-bottom: .5em;
					
					&:hover{
						background-color: darken(@color-main, 9%);
					}
					&.disabled{
						opacity: .5;
						
						&:hover{
							background-color: @color-main;
						}
					}
				}
				
				#tool_selector{
					background-image: url("../img/icons/select.png");
					&.active{
						background-image: url("../img/icons/select_act.png");
						background-color: darken(@color-main, 9%);
					}
				}
				#tool_draw_line{
					background-image: url("../img/icons/draw.png");
					&.active{
						background-image: url("../img/icons/draw_act.png");
						background-color: darken(@color-main, 9%);
					}
				}
				#tool_draw_square{
					background-image: url("../img/icons/rect.png");
					&.active{
						background-image: url("../img/icons/rect_act.png");
						background-color: darken(@color-main, 9%);
					}
				}
				#tool_draw_circle{
					background-image: url("../img/icons/circle.png");
					&.active{
						background-image: url("../img/icons/circle_act.png");
						background-color: darken(@color-main, 9%);
					}
				}
				//#tool_trennlinie{
				//	background-image: url("../img/icons/trennlinie.png");
				//	&.active{
				//		background-image: url("../img/icons/trennlinie_act.png");
				//		background-color: darken(@color-main, 9%);
				//	}
				//}
				#tool_draw_floor{
					background-image: url("../img/icons/draw_floor.png");
					&.active{
						background-image: url("../img/icons/draw_floor_act.png");
						background-color: darken(@color-main, 9%);
					}
				}
				#tool_draw_pattern{
					background-image: url("../img/icons/draw_pattern.png");
					&.active{
						background-image: url("../img/icons/draw_pattern_act.png");
						background-color: darken(@color-main, 9%);
					}
				}
			}
			#main_stage{
				background-color: #fff;
				height: 100%;
				width: 100%;
				display: table-cell;
			}
			#option_cats{
				display: table-cell;
				padding: 0 .5em;
				width: auto;
				vertical-align: top;
				
				.option_cat{
					padding: .5em;
					height: @icon-size;
					width: @icon-size;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					margin-bottom: .5em;
					
					&:hover{
						background-color: darken(@color-main, 9%);
					}
					&.disabled{
						opacity: .5;
						
						&:hover{
							background-color: @color-main;
						}
					}
				}
				#cat_settings{
					background-image: url("../img/icons/settings.png");
					&.active{
						background-image: url("../img/icons/settings_act.png");
						background-color: darken(@color-main, 9%);
					}
				}
				#cat_rooms{
					background-image: url("../img/icons/rooms.png");
					&.active{
						background-image: url("../img/icons/rooms_act.png");
						background-color: darken(@color-main, 9%);
					}
				}
				#cat_props{
					background-image: url("../img/icons/props.png");
					&.active{
						background-image: url("../img/icons/props_act.png");
						background-color: darken(@color-main, 9%);
					}
				}
				#cat_doors{
					background-image: url("../img/icons/doors.png");
					&.active{
						background-image: url("../img/icons/doors_act.png");
						background-color: darken(@color-main, 9%);
					}
				}
				#cat_stairs{
					background-image: url("../img/icons/stairs.png");
					&.active{
						background-image: url("../img/icons/stairs_act.png");
						background-color: darken(@color-main, 9%);
					}
				}
				#cat_traps{
					background-image: url("../img/icons/traps.png");
					&.active{
						background-image: url("../img/icons/traps_act.png");
						background-color: darken(@color-main, 9%);
					}
				}
				#cat_notes{
					background-image: url("../img/icons/notes.png");
					&.active{
						background-image: url("../img/icons/notes_act.png");
						background-color: darken(@color-main, 9%);
					}
				}
				#cat_links{
					background-image: url("../img/icons/links.png");
					&.active{
						background-image: url("../img/icons/links_act.png");
						background-color: darken(@color-main, 9%);
					}
				}
				#cat_sounds{
					background-image: url("../img/icons/sound.png");
					&.active{
						background-image: url("../img/icons/sound_act.png");
						background-color: darken(@color-main, 9%);
					}
				}
			}
			#options{
				display: none;
				width: auto;
				vertical-align: top;
				padding: 0 1em;
				
				&.open{
					display: table-cell;
				}
				
				#options_inner{
					color: #fff;
					border: 2px solid darken(@color-main, 9%);
					border-radius: 5px;
					padding: .5em 1em;
					width: 300px;
					
					& > div{
						display: none;
					}
					& > div.active{
						display: block;
					}
					
					.options_info{
						
					}
					.options_headline{
						margin-bottom: 1em;
					}
					.options_set{
						margin-bottom: .75em;
						
						& > label{
							display: inline-block;
							width: 6em;
						}
						& > label.lg{
							width: 100%;
						}
						input,
						select{
							color: darken(@color-main, 9%);
							vertical-align: middle;
							display: inline-block;
							padding: 0 .25em;
							height: 1.85em;
							width: 12.45em;
						}
						select[name="unit_measure"]{
							width: 5.73em;
							margin-left: .752em;
						}
						input[type="text"]{
							width: 5.73em;
							text-align: center;
						}
						input[type="color"]{
							height: 1.85em;
							width: 5.73em;
							border: 1px solid #fff;
							border-radius: 2px;
							box-shadow: 0 0 2px darken(@color-main, 40%);
							display: inline-block;
							vertical-align: middle;
							padding: 0;
						}
						input[type="checkbox"]{
							vertical-align: top;
							width: auto;
							height: auto;
						}
						input.single{
							width: 12.45em;
						}
						
						& > button{
							padding: 0;
							border: none;
							background: none;
							padding: 0;
							text-shadow: none;
							box-shadow: none;
							margin-right: .752em;
							
							.pattern{
								height: 1.85em;
								width: 5.73em;
								background-size: cover;
								border: 1px solid #fff;
								border-radius: 2px;
								box-shadow: 0 0 2px darken(@color-main, 40%);
								display: inline-block;
								vertical-align: middle;
							}
						}
						& > button.edit_notes{
							background-color: #fff;
							background-color: darken(@color-main, 9%);
							color: darken(@color-main, 9%);
							color: #fff;
							padding: .5em 1em;
							border-radius: 5px;
							border: 2px solid darken(@color-main, 9%);
							border: 2px solid #fff;
							width: 100%;
							
							&:hover{
								background-color: lighten(@color-main, 5%);
							}
						}
						.input-group{
							
							.input-group-btn{
								.btn{
									padding: .15em .5em;
								}
							}
							input{
								width: 100%;
								height: 1.85em;
							}
						}
						#line_types{
							display: inline-block;
							height: 1.85em;
							width: 5.73em;
							vertical-align: middle;
							margin-left: .752em;
							
							div.line_type{
								height: 1.85em/2;
								width: 5.73em;
								background-repeat: no-repeat;
								background-position: center;
								
								&:hover,
								&.active{
									background-color: darken(@color-main, 9%);
								}
								
							}
							#line_stroke_side{
								background-image: url("../img/icons/lines_stroke.png");
							}
							#line_dotted_side{
								background-image: url("../img/icons/lines_dot.png");
							}
						}
						
					}
					.proplist_wrapper{
						border: 2px solid darken(@color-main, 9%);
						border-radius: 5px;
						background-color: darken(@color-main, 3%);
						padding: .5em;
						height: 15em;
						margin-bottom: .75em;
						overflow-y: scroll;
						
						.proplist{
							margin-bottom: 1em;
							
							.proplist_headline{
								padding-bottom: .25em;
								border-bottom: 2px solid darken(@color-main, 9%);
								margin-bottom: .25em;
								text-transform: capitalize;
								
								&:hover{
									cursor: pointer;
								}
								i{
									margin-left: .5em;
									font-size: .75em;
								}
							}
							.proplist_content{
								display: none;
								
								&.door{
									display: block;
								}
								.prop{
									padding: .25em 0;
									border-bottom: 1px solid darken(@color-main, 9%);
									
									&:last-child{
										border: none;
									}
									.prop_inner{
										padding: .5em;
										
										*{
											vertical-align: middle;
										}
										&:hover,
										&.active{
											background-color: fade(@color-secondary, 20%);
										}
										.prop_img{
											width: @icon-size*1.5;
											height: @icon-size*1.5;
											background-size: contain;
											background-repeat: no-repeat;
											background-position: center;
											display: inline-block;
											margin-right: 1em;
										}
										.prop_title{
											text-transform: capitalize;
										}
									}
									
								}
							}
						}
					}
					.advanced_options_wrapper{
						.advanced_options_label{
							border-bottom: 1px solid darken(@color-main, 9%);
							padding-bottom: .5em;
							margin-bottom: .5em;
							
							&:hover{
								cursor: pointer;
							}
							i{
								margin-left: .5em;
								font-size: .75em;
							}
						}
						.advanced_options_inner{
							display: none;
							
							.options_set{
								/*
								input.name{
									width: 100%;
								}
								*/
								input.single{
									width: 12.45em;
								}
								button{
									background: none;
									box-shadow: none;
									color: darken(@color-main, 9%);
									background-color: #fff;
									
									&:hover{
										background-color: darken(#fff, 5%);
									}
								}
								.touchspin_wrapper{
									display: inline-block;
									.bootstrap-touchspin{
										
										input{
											width: 100%;
										}
										.input-group-btn-vertical{
											.btn{
												padding: .4em .6em;
												i{
													font-size: .5em;
													top: 2px;
												}
											}
										}
									}
								}
								textarea{
									resize: none;
								}
							}
						}
					}
					
				}
				#options_ok_button{
					color: #fff;
					background: none;
					background-color: darken(@color-main, 9%);
					border: none;
					padding: .25em 1em;
					line-height: 1em;
					font-size: .9em;
					
					&:hover{
						background-color: lighten(@color-main, 3%);
					}
				}
			}
		}
	}
	.modal{
		color: #fff;
		
		.close{
			color: #fff;
		}
		.modal-content{
			background-color: @color-main;
			background-color: lighten(@color-main, 3%);
			padding-bottom: 0;
			
			.modal-body{
				.pattern_wrapper{
					display: inline-block;
					position: relative;
					padding: .5em;
						
					&:hover{
						background-color: darken(@color-main, 9%);
					}
					.lg{
						position: relative;
						width: @icon-size*2;
						height: @icon-size*2;
						background-size: cover;
						color: #fff;
						
						.glyphicon{
							position: absolute;
							top: 0;
							right: .25em;
						}
					}
				}
			}
		}
		.modal-footer{
			border: none;
			padding-top: 0;
			
			button{
				border: none;
				background: none;
				background-color: darken(@color-main, 9%);
				border-radius: 5px;
				text-shadow: none;
				box-shadow: none;
				
				color: #fff;
				&:hover{
					//background-color: lighten(@color-main, 3%);
					background-color: @color-main;
				}
			}
		}
	}
	#notesModal{
		color: darken(@color-main, 9%);
		
		.close{
			color: darken(@color-main, 9%);
		}
		.modal-content{
			background-color: #fff;
			padding-bottom: 0;
			
			.modal-body{
				position: relative;
				max-height: 75vh;
				overflow: hidden;
				overflow-y: auto;
				margin-bottom: 1em;
				
				#dm_notes{
					position: relative;
					
					#dm_notes_mapname{
						font-size: 1.5em;
						font-weight: bold;
						color: #8c0000;
						margin-bottom: 1em;
						
						.dm_notes_hr{
							height: 10px;
							background-image: url('../img/dm_notes_hr.png');
							background-size: contain;
							background-repeat: no-repeat;
							margin-top: .125em;
							
						}
					}
					.dm_notes_room{
						.dm_notes_room_top{
							padding-bottom: .5em;
							border-bottom: 2px solid lighten(@color-main, 50%);
							margin-bottom: .5em;
							
							*{
								vertical-align:middle;
							}
							.dm_notes_room_nr{
								padding: .125em .5em;
								background-color: @color-main;
								color: #fff;
								font-weight: bold;
								font-size: 1.5em;
							}
							.dm_notes_room_name{
								font-size: 1.25em;
								margin-left: .5em;
								margin-right: .5em;
								font-weight: 600;
							}
							i{
								font-size: 1.5em;
								vertical-align: middle;
								
								&:hover{
									cursor: pointer;
								}
							}
							.dm_notes_room_show{
								display: inline-block;
								height: @icon-size*.96;
								width: @icon-size*.96;
								vertical-align: middle;
								background-color: @color-main;
								background-position: center;
								background-size: contain;
								background-repeat: no-repeat;
								margin-left: .5em;
								
								&:hover{
									cursor: pointer;
								}
								&.vis{
									background-image: url('../img/icons/eye_open.png');
								}
								&.invis{
									background-image: url('../img/icons/eye_closed.png');
								}
							}
							.dm_notes_room_reveal{
								display: inline-block;
								height: @icon-size*.96;
								width: @icon-size*.96;
								vertical-align: middle;
								background-color: @color-main;
								background-position: center;
								background-size: contain;
								background-repeat: no-repeat;
								margin-left: .5em;
								
								&:hover{
									cursor: pointer;
								}
								&.reveal{
									background-image: url('../img/icons/reveal.png');
								}
								&.revealed{
									background-image: url('../img/icons/revealed.png');
								}
							}
						}
						.dm_notes_room_notes{
							display: none;
							
							*{
								position: relative;
							}
							& > *{
								margin-bottom: 1em;
							}
							& > *:hover{
								cursor: move;
							}
							.description_box{
								border: dashed;
								border-width: 2px;
								padding: 1em;
								border-radius: 5px;
								min-height: @icon-size*2;
								
								.icon{
									display: inline-block;
									height: @icon-size;
									width: @icon-size;
									position: absolute;
									left: 1em;
									top: 1em;
									background-size: contain;
									background-position: center;
									background-repeat: no-repeat;
								}
								.description{
									display: inline-block;
									padding-left: @icon-size*1.5;
								}
							}
							.dm_notes_room_description{
								border-color: lighten(@color-main, 3%);
								//background-color: lighten(@color-main, 60%);
								background-color: fade(@color-main, 10%);
								
								.room_icon{
									background-image: url('../img/icons/rooms_notes.png');
								}
							}
							.dm_notes_prop_description{
								border-color: #ff8000;
								//background-color: lighten(#ff8000, 45%);
								background-color: fade(#ff8000, 10%);
								
								.prop_icon{
									background-image: url('../img/icons/props_notes.png');
								}
							}
							.dm_notes_doors_description{
								border-color: #0060bf;
								//background-color: lighten(#0060bf, 50%);
								background-color: fade(#0060bf, 10%);
								
								.door_icon{
									background-image: url('../img/icons/doors_notes.png');
								}
							}
							.dm_notes_traps_description{
								border-color: #df0070;
								//background-color: lighten(#df0070, 50%);
								background-color: fade(#df0070, 10%);
								
								.trap_icon{
									background-image: url('../img/icons/traps_notes.png');
								}
							}
							.dm_notes_images{
								
								.dm_note_image{
									
									margin-bottom: 1em;
									
									img{
										width: 100%;
										margin-bottom: 1em;
									}
									.dm_notes_button_wrapper{
										text-align: center;
										
										button{
											background: none;
											background-color: @color-main;
											color: #fff;
											border: none;
											margin-bottom: 1em;
											
											&:hover{
												background-color: lighten(@color-main, 3%);
											}
										}
									}
								}
							}
							.dm_note_quote{
								background-color: #f5f5f5;
								padding: 1em;
								position: relative;
								
								&:before{
									content: '\201C';
									font-size: 3em;
									position: absolute;
									left: .55em;
									top: 0;
									color: lighten(@color-main, 50%);
								}
								.dm_note_quote_inner{
									margin-left: 2.5em;
									padding-left: .8em;
									border-left: 2px solid lighten(@color-main, 50%);
								}
							}
							.dm_notes_text{
								padding-left: 4.4em;
							}
						}
					}
				}
			}
		}
		.modal-footer{
			border: none;
			padding-top: 0;
			
			button{
				border: none;
				background: none;
				background-color: darken(@color-main, 9%);
				border-radius: 5px;
				text-shadow: none;
				box-shadow: none;
				color: #fff;
				
				&:hover{
					background-color: @color-main;
				}
			}
		}
	}
}